@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --color-brand: #FF0061;
        --color-brand-hover: #D90052;
        --color-brand-dark: #1A1A1A;
        --color-brand-input: #5F0B2F;
        
        --color-text-main: #FFFFFF;
        --color-text-secondary: #E0E0E0;
        --color-text-muted: #F5EFF7;
        
        --gradient-start: #E30057;
        --gradient-end: #151515;
    }

    body {
        @apply bg-black text-white antialiased;
    }
}